/*-----------------------------------------------------------------------------------

    Item Name: EKKA
    Author: Ilkin Guluzade
    Version: 3.3
    Copyright 2022-2023
	Author URI: https://themeforest.net/user/Ilkin Guluzade

-----------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------
    Background Image-4
-----------------------------------------------------------------------------------*/
.body-bg-4 {
  background-color: #fff;
}
